* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, #000000e0, #52ffb1bb, #000000e0);
}

h2 {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-variant: small-caps;
    padding: 0.6em 0;
    color: #000000;
    text-shadow: 1px 1px 1px #000;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.11),
        0 2px 2px rgba(0, 0, 0, 0.11),
        0 4px 4px rgba(0, 0, 0, 0.11),
        0 8px 8px rgba(0, 0, 0, 0.11),
        0 16px 16px rgba(0, 0, 0, 0.11),
        0 32px 32px rgba(0, 0, 0, 0.11);
}

.grid {
    padding: 1em;
}

.grid-inner {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -0.5em;
}

.item {

    flex: 1 1 100%;
    padding: 0.5em;
}

.item-inner {

    border: inset transparent;
    background-size: cover;
    background-image: url('https://images.unsplash.com/photo-1585851732075-a5bd203cd6a4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60');
    padding-top: calc(100% / (16/9));
}

.item:nth-child(2) .item-inner {

    background-image: url('https://images.unsplash.com/photo-1596665338750-dcb6aacff410?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60');
}

.item:nth-child(3) .item-inner {
    background-image: url('https://images.unsplash.com/photo-1570475122890-aff49b9a5acb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60');
}

.item:nth-child(4) .item-inner {
    background-image: url('https://source.unsplash.com/random/?space,universe')
}


.item:nth-child(5) .item-inner {
    background-image: url('https://source.unsplash.com/random/?city,night');

}

.item:nth-child(6) .item-inner {
    background-image: url('https://images.unsplash.com/photo-1549045105-bb8e7539a736?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60');
}

.item:nth-child(7) .item-inner {
    background-image: url('https://images.unsplash.com/photo-1563457012475-13cf086fd600?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60');
}

.item:nth-child(8) .item-inner {
    background-image: url('https://images.unsplash.com/photo-1596720426673-e4e14290f0cc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60');
}

.item:nth-child(9) .item-inner {
    background-image: url('https://images.unsplash.com/photo-1572976993240-ee51181680be?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60');
}

.item:nth-child(10) .item-inner {
    background-image: url('https://source.unsplash.com/random/900×700/?nature');
}

.item:nth-child(11) .item-inner {

    background-image: url('https://source.unsplash.com/random/900×700/?technology');
}

.item:nth-child(12) .item-inner {
    background-image: url('https://source.unsplash.com/random/900×700/?business,work');
}

@media screen and (min-width: 480px) {
    .item {
        flex: 1 1 50%;
    }
}

@media screen and (min-width: 768px) {
    .item {
        flex: 1 1 33.333%;
    }
}

@media screen and (min-width: 980px) {
    .item {
        flex: 1 1 25%;
    }
}

footer {
    animation: shine ease-in-out 10s infinite;
    text-align: center;
    bottom: 0;
    padding-bottom: 1em;
    font-size: 1.2em;
    color: black;
    background: linear-gradient(to right,
            hsl(330, 100%, 45.1%) 0%,
            hsl(331, 89.25%, 47.36%) 8.1%,
            hsl(330.53, 79.69%, 48.96%) 15.5%,
            hsl(328.56, 70.89%, 49.96%) 22.5%,
            hsl(324.94, 63.52%, 50.4%) 29%,
            hsl(225.81, 68.23%, 57.85%) 77.5%,
            hsl(218.93, 74.97%, 54.21%) 84.5%,
            hsl(213.89, 79.63%, 49.97%) 100%);
    /* background: url("https://c4.wallpaperflare.com/wallpaper/177/767/797/simple-background-texture-pattern-wallpaper-preview.jpg"); */
    background-size: 200% auto;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

@keyframes shine {

    0% {
        background-position: top 0% left 0%;

    }

    20% {
        background-position: top 100% left 100%;

    }

    40% {
        background-position: top 100% left 0%;

    }

    60% {
        background-position: top 0% left 100%;

    }

    80% {
        background-position: top 50% left 50%;

    }

    100% {
        background-position: top 0% left 0%;

    }
}